{{> header }}

<h1>SPARQL endpoint</h1>
<p>Every rdfpub site has a generated SPARQL endpoint that can execute queries
  against the site's data. Enter a SPARQL query below to execute the it against
  the tutorial site's SPARQL endpoint.
</p>

<form name=query method=get action=/tutorial/sparql target=_blank>
<textarea name=query placeholder="Enter your SPARQL query here" required style="font-family:monospace;width:850px;height:450px"></textarea><br>
<input type=submit>
</form>

{{> footer }}