{{> header }}

<h1>SPARQL endpoint</h1>
<p>Enter a SPARQL query below and submit it to get results.</p>

<form name=query method=get action=/tutorial/sparql target=_blank>
<textarea name=query placeholder="Enter your SPARQL query here" required style="font-family:monospace;width:850px;height:450px"></textarea><br>
<input type=submit>
</form>

{{> footer }}